body {
    background-color: white;
    text-decoration: none;
}

html, body {
    overflow: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

p, span, h1, h2, h3, h4, label {
    font-family: 'Open Sans', sans-serif;
}

.text-center {
    text-align: center;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 1.5rem;
    line-height: 2rem;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.width-50 {
    width: 50%;
}

.width-25 {
    width: 25%;
}

.width-100, .w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

@media only screen and (max-width: 1350px){
    .w-50-md {
        width: 50%;
    }
}

.form-label {
    color: rgba(55, 65, 81);
    font-weight: 700;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    float: left;

}

.link-text-secondary {
    color: rgba(59, 130, 246);
    font-size: 0.875rem;
    line-height: 1.25rem;

}

.signup-form {
    padding-bottom: 2rem;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.submit-button-round-blue {
    border-radius: 9999px;
    background-color: rgba(59, 130, 246);
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: 700;

}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.form-input-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 3px;
    font-size: 0.875rem;
    margin-bottom: .5rem;
    border: 1px solid grey;
}



@media screen and (max-width: 800px) { 
    .width-100-small {
        width: 100%;
    }

    .width-80-small {
        width: 80%;
    }

    .width-50-sm {
        width: 50%;
    }

    .width-75-sm {
        width: 75%;
    }




}