#progress {
    margin: 0 auto;
    width: 75vw;
    background-color: grey;
    border-radius: 25px;
    margin-bottom: 15px;
}
  
#progressBar {
    height: 15px;
    width: 0%;
    background-color: #5CB859;
    border-radius: 25px 0 0 25px;

}


table {
    margin: 0 auto;
}

td {
    vertical-align: middle;
}

tr {
    margin-bottom: 10px;
}

.badgeGrid {
    margin: 0 auto;
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.badgeGrid img {
    max-width: 100px;
}

.leaderboard, .leaderboard tr td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;

}

.badgeGrid div {
    border-style: solid;
    padding: 15px;
}

.badgeDescription {
    font-style: italic;
    font-size: 1.1rem;

}

.nextBadge {
    opacity: .3
}

@media screen and (max-width: 800px) {

    .badgeGrid {
        width: 90vw;
        grid-template-columns: 1fr 1fr;
    
    }
    
    .button1 {
        display: block;
        margin: 0.2em auto;
    }



  }


  