.menuWrapper {
    position: sticky;
    background-color: #181A1D;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 22px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;

}

.signUpButton {
    display: block;
    float: right;
    padding-right: 55px;
}


.menuWrapper ul {
    list-style-type: none;
    overflow: hidden;
    display: block;
}

.menuWrapper li a {
    display: block;
    text-align: center;
}

.menuWrapper li {
   display: inline-block;
    padding-left: 15px;
}

.user {
    display: block;
    float: left;
    padding-left: 15px;
}

@media screen and (max-width: 992px) {

    .menuWrapper {
        padding-right: 0;
        padding-left: 0;
    }

  }