.menu-wrapper {
    position: sticky;
    background-color: #2E2E2E;
    font-family: montserrat-medium,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 22px;
    padding-bottom: 10px;

}

.menu-wrapper a, p {
    color: #c8c8c8;
}

.menu-wrapper a:hover {
     color: #f05f40;
     text-decoration: none;
}

.menu-wrapper ul {
    list-style-type: none;
    overflow: hidden;
    display: block;
}

.menu-wrapper li a {
    display: block;
    text-align: center;
}

.menu-wrapper li {
   display: inline-block;
    padding-left: 15px;
}

.user {
    display: block;
    float: left;
    padding-left: 15px;
}

@media screen and (max-width: 992px) {

    .user {
        display: none;
    }



  }