.modalWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 99vw;
    height: 99vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.modalInner {
    width: 80vw;
    height: 86vh;
    margin: 0 auto;
    margin-top: 7vh; 
    background-color: rgba(255,255,255, 1);
    z-index: 100;

}

.modalInner label, .modalInner p, .modalInner span, .modalInner h1, .modalInner h2, .modalInner h3 {
    color: black;
}
